*__pycache__/
*.pyc
*~
temp/
*.DS_Store
*/.DS_Store
*.png
build/
docs/_build
*.egg-info
dist/
*.hdf5
.vscode/
*.code-workspace
Collision/bin/
Collision/pybind/lib/
Collision/run/
Collision/testrun/
data/