*__pycache__/
*.pyc
*~
temp/
*.DS_Store
*/.DS_Store
*.png
build/
docs/_build
*.egg-info
dist/
*.hdf5
.vscode/
*.code-workspace
.ropeproject/
Collision/bin/
Collision/pybind/lib/
Collision/examples/bin/
Collision/run/
Collision/testrun/
data/
old/
*.eps
*.pdf
*.txt
out*
.ropeproject/
run/
old/
Collision/CMakeUserPresets.json
*generated.h
data/
CMakeCache.txt
CMakeUserPresets.json
