*__pycache__/
*.pyc
*~
temp/
*.DS_Store
*/.DS_Store
*.png
build/
docs/_build
*.egg-info
dist/
*.hdf5
.vscode/
.vs/
*.code-workspace
.ropeproject/
Collision/bin/
Collision/examples/bin/
Collision/run/
Collision/testrun/
data/
old/
*.eps
*.pdf
*.txt
out*
.ropeproject/
run/
old/
*generated.h
CMakeUserPresets.json
CMakeCache.txt
*.pyd
*.pyi
*.pdb
